# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/action_provision
